<!-- HTML5文件 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Agile CE</title>
    <script src="../dist/agile.ce.browser.js" charset="UTF-8"></script>
    <style>
        li{background: #ccc;}
        li.active{background: #ff0000;}
    </style>
</head>

<body>
    <div id="app">
        <!-- <input type="radio" v-model="test" number value="3"/>
        <input type="radio" v-model="test" number value="4"/>
        <input type="radio" v-model="test" number value="5"/>
        <ul>
            <li v-on:click="doclick" v-text="test" v-if="test===3"></li>
            <li v-on:click="doclick" v-text="test" v-elseif="test===4"></li>
            <li v-on:click="doclick" v-text="test1" v-else=""></li>
            
        </ul> -->
        <ul>
            <li v-for="item in list">
                <input type="checkbox" v-bind:value="item.defaultV" v-model="cks"/> <span>{{item.title}}</span>
            </li>
            
        </ul>
    </div>
    <script>
        $('select').on('contentchanged', function(){
            console.log(111);
        });
        var obj = {
            cks: ['2'],
            isEdit: false,
            form: {
                b:1
            },
            'd$a': '1',
            'a': '222',
            val: '1',
            test: 4,
            test1: '111',
            pageNum:1,
            list: [
                {
                    title:'1',
                    defaultV: '1'
                },
                {
                    title:'2',
                    defaultV: '2'
                },
                {
                    title:'3',
                    defaultV: '3'
                },
                {
                    title:'4',
                    defaultV: '4'
                },
                {
                    title:'5',
                    defaultV: '5'
                }
            ],
            list1: [],
            doclick: function(i, item){
                console.log(typeof obj.test);
            },
            doChange: function(index, item){
                console.log(arguments);
                obj.list.$set(index, item);
            }
        };
        
        $('#app').render(obj);
        //var n = obj.list.splice(3, 1)[0];
        //obj.list.splice(1, 0 , n);

        setTimeout(function(){
            // var item3 = obj.list[3];
            // var item1 = obj.list[1];
            // obj.list.$set(1, {
            //     title: item3.title,
            //     defaultV: item3.defaultV
            // });

            // obj.list.$set(3, {
            //     title: item1.title,
            //     defaultV: item1.defaultV
            // });
            // obj.isEdit = false;
            // obj.list.pop();
            //obj.val = '3';
            //obj.test = '1';
            //obj.isEdit = true;
            //obj.test = '5';
                // $('ul li').first().trigger('change', [{
                //     title:'10',
                //     defaultV: '1'
                // }]);
        }, 3000);
        

    </script>
</body>

</html>