<!-- HTML5文件 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Agile CE</title>
    <script src="../dist/agile.ce.browser.js" charset="UTF-8"></script>
    <style>
        li{background: #ccc;}
        li.active{background: #ff0000;}
    </style>
</head>

<body>
    <div id="app">
        <!-- <input type="radio" v-model="test" number value="3"/>
        <input type="radio" v-model="test" number value="4"/>
        <input type="radio" v-model="test" number value="5"/>
        <ul>
            <li v-on:click="doclick" v-text="test" v-if="test===3"></li>
            <li v-on:click="doclick" v-text="test" v-elseif="test===4"></li>
            <li v-on:click="doclick" v-text="test1" v-else=""></li>
            
        </ul> -->
        
        <ul>

            <div v-for="item in list" >
                <span v-text="item.title+1"></span>
                <input v-model="item.title"/>
                <div v-for="item1 in item.arr">
                    <span v-text="item1.value"></span>
                    <input v-model="item1.value"/>
                    
                </div>
                <!-- <select v-model="item.sel" number>
                    <option v-for="item1 in item.arr" v-text="item1.value" v-bind:value="item1.value"></option>
                </select> -->
            </div>

        </ul>
    </div>
    <script>
        $('select').on('contentchanged', function(){
            console.log(111);
        });
        var obj = {
            a: 'bbb',
            list: [
                {
                    arr: [
                        {
                            value:1
                        },
                        {
                            value:2
                        }
                    ],
                    title: 'title1',
                    sel: 2
                },
                {
                    arr: [
                        {
                            value:3
                        },
                        {
                            value:4
                        }
                    ],
                    title: 'title2',
                    sel: 2
                }
            ],
            func: {
                doClick: function(index){
                    alert(index);
                }
            }
        };

        
        
        $('#app').render(obj);

        obj.list.shift();
        obj.list.push({
            arr: [
                {
                    value: 5
                }
            ],
            title: 'title3'
        });

        obj.list[1].arr[0].value = 7

        // obj.list[0].arr.shift();
        // obj.list[0].arr[0].value = 3;

        //var n = obj.list.splice(3, 1)[0];
        //obj.list.splice(1, 0 , n);

        // console.log($('li[vforIndex="0"]:last').text());
        // var myi = 0;
        // var st = setInterval(function(){
            
        //     if(myi>1) {
        //         clearInterval(st);
        //         obj.list.splice(3,1);
        //         obj.list.splice(4,1);
        //         obj.list.splice(5,1);
        //         return;
        //     }

        //     // while(obj.list.length>800){
        //     //     obj.list.pop();
        //     // }
        //     // obj.list.sort(function(x, y){
        //     //     return x.title < y.title;
        //     // });
            
        //     var arr = [], len = myi+20;
        //     for(myi;myi<len;myi++){
        //         arr.push({
        //             title: myi,
        //             defaultV: myi
        //         });
        //     }
        //     // console.time(1);
        //     obj.list.unshift.apply(obj.list, arr);
        //     // console.timeEnd(1);
        //     // var item3 = obj.list[3];
        //     // var item1 = obj.list[1];
        //     // obj.list.$set(1, {
        //     //     title: item3.title,
        //     //     defaultV: item3.defaultV
        //     // });

        //     // obj.list.$set(3, {
        //     //     title: item1.title,
        //     //     defaultV: item1.defaultV
        //     // });
        //     // obj.isEdit = false;
        //     // obj.list.pop();
        //     //obj.val = '3';
        //     //obj.test = '1';
        //     //obj.isEdit = true;
        //     //obj.test = '5';
        //         // $('ul li').first().trigger('change', [{
        //         //     title:'10',
        //         //     defaultV: '1'
        //         // }]);
        // }, 1000);
        
        // const $fragment = $.ui.createJQFragment();

        // $fragment.append($('<div>aaa</div>'));

        // console.log($fragment.children());

    </script>
</body>

</html>